@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-ExtraBold.ttf);
    font-weight: bold;
}

html {
    background: #414042;
}

body {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    color: #414042;
    background: #F9F9F9;
    box-sizing: border-box;
    margin: 0;
    padding: 100px 0 0 0;
}

/* ===== HEADER + LOGO + MENU ===== */
body > header {
    width: 100%;
    background: #00386B;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    top: 0;
    padding: 10px 20px;
    box-sizing: border-box;
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('images/logo.png') no-repeat left center;
    background-size: 40px 40px;
    padding-left: 60px;
    margin: 5px 0;
}

#logo h1 {
    font-weight: normal;
    font-size: 1.5em;
    margin: 0;
    color: white;
}

#logo h1 span {
    font-weight: bold;
    text-transform: uppercase;
}

#logo small {
    text-transform: uppercase;
    font-size: 0.85em;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: center;
}

nav ul li {
    padding: 5px 10px;
    margin: 3px;
    font-size: 1em;
}

nav ul a {
    color: white;
    padding: 6px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul a:hover,
.active a {
    border-bottom: 2px solid #EF6534;
}

/* ===== OBSAH ===== */
article {
    max-width: 960px;
    margin: 0 auto;
    padding: 50px 50px 10px 50px;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    color: #00386B;
    padding: 10px 0;
}

article h1 {
    margin: 0;
    font-size: 2.3em;
    font-weight: bold;
    text-transform: uppercase;
    width: max-content;
    border-bottom: 4px solid #EF6534;
}

article h2 {
    font-size: 2em;
}

article header {
    height: 80px;
}

article section p {
    margin-bottom: 1.5em;
    line-height: 1.8em;
}

article section a {
    color: #EF6534;
}

/* ===== OBRÁZOK ===== */
.avatar {
    float: right;
    width: 100%;
    max-width: 300px;
    padding-left: 10px;
    filter: grayscale(1);
}

.cleaner {
    clear: both;
}

.centered {
    text-align: center;
}

/* ===== TLAČIDLÁ ===== */
.paragraph-button {
    margin-top: 50px;
}

.references-button {
    background: #70B73A;
    color: white;
    font-size: 0.9em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 25px;
}

.contact-button {
    background: #EF6534;
    padding: 10px 20px;
    border-radius: 20px;
}

.contact-button:hover,
.references-button:hover {
    filter: brightness(115%) contrast(85%);
    border: 0;
}

/* ===== SKILLS a REFERENCES ===== */
#skills td {
    width: 25%;
    vertical-align: top;
    padding: 6px;
    box-shadow: 3px 3px 6px #999999;
    margin-right: 6px;
}

#references img {
    border: 1px solid gray;
    padding: 6px;
    box-shadow: 3px 3px 6px #999999;
    margin-right: 6px;
}

.css {
    box-shadow: 3px 3px 6px #999999;
    max-height: 70%;
}

#references a {
    text-decoration: none;
}

#references a:hover {
    text-decoration: none;
}

/* ===== FOOTER ===== */
footer {
    box-sizing: border-box;
    text-align: center;
    height: 100px;
    color: white;
    background: #414042;
    padding: 50px 0 0 0;
    clip-path: polygon(0 30px, 100% 0, 100% 105%, 0 105%);
}

footer a {
    color: white;
    text-decoration: none;
}

footer .year {
    color: #EF6534;
}

.left {
    float: left;
}

/* ===== MEDIA QUERIES – mobil a tablet ===== */
@media screen and (max-width: 768px) {
    #logo {
        width: 100%;
        background-position: center;
        padding-left: 0;
        text-align: center;
        align-items: center;
    }

    #logo h1 {
        font-size: 1.2em;
    }

    nav ul {
        width: 100%;
        justify-content: center;
    }

    .avatar {
        float: none;
        display: block;
        margin: 0 auto;
        padding: 10px 0;
        max-width: 70%;
    }

    article {
        padding: 30px 20px 10px 20px;
    }
}
